# dependencies
node_modules/
client/node_modules/
server/node_modules/

# production
build/
dist/
client/dist/
server/dist/

# cache
.cache/
.parcel-cache/
.next/

# config and secrets
.env
.env.*
!.env.example

# misc
package.json.bak
.DS_Store
Thumbs.db

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
